main {

}
nav {
    position: relative;
    height: 60px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: gray;
    text-align: left;
}
.logo {
    position: absolute;
    left: 60px;
    top: 5px;
    height: 83%;
}
.img-circle {
    border-radius: 50%;
    border: 1px solid black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 155px;
    top: 20px;
}
nav li {
    display: inline-block;
    border-right: 1.5px solid black;
    padding-right: 7px;
}